
<title><%= @article.name %></title>
</head>

<body>
  <h1><%= @article.name %></h1>

  <p>
    <%= @article.content %>
  </p>

  <!-- <p><a href="<%="/posts/#{@post.id}/edit" %>">Edit</a></p>
  <p>
    <form action="<%= "/posts/#{@post.id}/delete" %>" method="post">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input type="submit" id="submit" value="delete"/>
    </form>
  </p> -->
</body>
